<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的联通</title>
</head>
<body>
    <h1>中国联通</h1>
    <h3>广西联通</h3>
    <div>山东蓝翔</div>
    <div>
        挖掘机哪家强
        <img src="/static/install.png"/>
    </div>
    <span>哈哈哈</span>
    <span>hhhhhhhhhhh</span>

    <div>
        习近平对防汛救灾工作作出重要指示 要求加强统筹协调 强化会商研判 做好监测预警 切实把保障人民生命财产安全放到第一位 努力将各类损失降到最低

        <a href="http://www.chinaunicom.com.cn/ddjs/202307/1688952521458091173.html">点击跳转</a>
        <img style="height: 100px;width: 200px" src="http://www.chinaunicom.com.cn/img/weixinerweim.jpg">

    </div>

</body>
</html>